/* Css for formatting Table in Exercise Section 10 */

table {
    background-color: #ccc;
    border: 2px dashed blue;
    border-collapse: collapse;
    column-width: 300px;
}

tr, th, td {
    border: 1px, solid, black;
    padding: 3px;
    word-wrap: break-word;
}

th {
    font-family: Arial;
    font-size: 1.2em;
}

.rowcolor {
    background-color: darkblue;
    color: white
}