/* Stylesheet for Submit Exercise Section 01 
Filename: styles01.css  */

h1 {
    color: firebrick;
}

p {
    font-size: 14pt;
    font-family: Arial;
}

img {
    float: right;
    width: 200px;
    height: 200px;
    padding-left: 10px;
}

/* ----- End of stylesheet: styles01.css ----- */